<% include layout_dialog_hd.html %>
                        <a class="orange" id="do-chj">
    						<span title="阿尔法圆" class="refer-price"></span>
							<label id="chj-info">亲只需两块大洋哦，来抽一次吧~</label>
							<span title="阿尔法圆" class="refer-price"></span>
						</a>
						<h4>规则:</h4>
						<ul class="rule">
							<li>猛击上面内个不像按钮的按钮，花两块大洋，有一次抽奖机会</li>
							<li>奖金额度为0-10块，抽到0块莫惊慌，惊喜在后面~</li>
						</ul>
						<h4>攻略:</h4>
						<ul class="rule">
							<li>抽的次数越多，中大奖几率越大，不信你试试！</li>
							<li>抽完不用关闭对话框，即可查看钱包哦亲！</li>
                            <li>马上推出“签到免费领奖”活动，这里的抽奖次数越多到时签到领奖几率越大哦！</li>
						</ul>
						<p>心动没，快快抽一次吧！！隔壁吴老二抽了后，多年脑血栓都好了！！</p>
<% include layout_dialog_ft.html %>